
html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.618em;
}

.mainWrap {
    max-width: 1200px;
    margin: 0 auto;
}

.site-header {
    font-family: 'Bree serif';
    font-size: 2.618rem;
    text-align: center;
    margin: 0.618em 0 1em;
}
