
.wrapper--form {
	width: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 1rem;
}

.form__label {
	display: inline-block;
	width: calc(50% - 1rem);
	text-align: right;
	margin-right: 1rem;
}

.form__input {
	width: calc(50% - 2rem);
	border: none;
	border-bottom: 1px solid lightgrey;
}

.form__button {
	float: right;
}