
.info {
    width: 28rem;
    margin: 0 auto;
    background-color: #FCFCFC;
    box-shadow: 0 0 0.818rem rgba(0,0,0,0.17), inset 0 0 0.18rem rgba($red,0.7);
    padding: 1.618em;
    transition: box-shadow 0.3s;
        &.isPresent {
            box-shadow: 0 0 0.818rem rgba(0,0,0,0.17), inset 0 0 0.18rem rgba($green,0.7);
        }
}

.info__button {
    cursor: pointer;
    background-color: $green;
    width: 100%;
    font-size: 1.618rem;
    padding: 0.343em 0.618em;
    color: #FFF;
        &.btn--Out {
            background-color: $red;
        }
}

.info__name-slider {
    font-size: 1em;
    box-shadow: 0 0 0 #FFF;
    margin-bottom: 0;
    border: 1px solid lightgrey;
}