
.info {
    width: 28rem;
    margin: 0 auto;
    background-color: #FCFCFC;
    box-shadow: 0 0 0.818rem rgba(0,0,0,0.17);
    padding: 0.618em;
}

.info__button {
    cursor: pointer;
    background-color: #0F0;
    width: 100%;
    font-size: 1.618rem;
    padding: 0.343em 0.618em;
    color: #FFF;
        &.btn--Out {
            background-color: #F00;
        }
}