$oneThird: 100/ 3;
$twoThird: 100 / 1.5;

$leftWidth: 50 + %;
$rightWidth: 50 + %;

.wrapper {
    position: relative;
}

.wrapper--personel {
    width: $leftWidth;
    margin: 0 auto;
}

.wrapper--info {
    width: $rightWidth;
    margin: 0 auto;
}

.wrapper--inner {
    text-align: center;
        & > * {
            text-align: initial;
        }
    opacity: 0.01;
    transition: opacity 1s;
        &.loaded {
            opacity: 1;
        }
}

.wrapper--inline {
    display: inline-block;
    vertical-align: top;
}